* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.container {
  width: 100%;
  max-width: 980px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  padding: 33px 0;
  position: relative;
}
.header__nav {
  border-bottom: 2px solid #828282;
  padding-bottom: 31px;
}
.header .burger {
  display: none;
  top: 40px;
  right: 20px;
  align-items: center;
  position: absolute;
}
.header .burger__line {
  width: 33px;
  height: 3px;
  background: #000000;
  position: relative;
}
.header .burger::before {
  content: "";
  position: absolute;
  width: 33px;
  height: 3px;
  background: #000000;
  top: -10px;
  left: 0;
}
.header .burger::after {
  content: "";
  position: absolute;
  width: 33px;
  height: 3px;
  background: #000000;
  top: 10px;
  left: 0;
}
.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__link {
  display: flex;
  font-family: "Gilroy-Bold", sans-serif;
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #828282;
  transition: 1s;
}
.header__link:hover {
  transition: 1s;
  color: #000000;
}

.home {
  padding: 36px 0;
}
.home__divis {
  display: flex;
  justify-content: space-between;
}
.home__title {
  font-family: "Gilroy-Bold", sans-serif;
  font-weight: 400;
  font-size: 47.3392px;
  line-height: 59px;
  color: #070707;
}
.home__subtitle {
  font-family: "Gilroy-Medium", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #070707;
  padding-top: 70px;
}
.home__img {
  padding: 33px 0;
}
.home__img {
  padding: 33px 0;
}

.about {
  padding: 120px 0 107px;
  background: #F6F6F6;
}
.about__title {
  font-family: "Gilroy-Bold", sans-serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: #070707;
  margin-bottom: 18px;
}
.about__subtitle {
  font-family: "Gilroy-Medium", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #070707;
}
.about_subtitle {
  margin: 50px 0;
}

.skills {
  padding: 91px 0 101px;
}
.skills__title {
  font-family: "Gilroy-Bold", sans-serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: #070707;
}
.skills__subtitle {
  margin-top: 70px;
  font-family: "Gilroy-Medium", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #070707;
}
.skills__row {
  padding-top: 83px;
  display: flex;
  justify-content: space-between;
  width: calc(13.33333 - 13.333333px);
  flex-wrap: wrap;
}
.skills__adobe {
  font-family: "Gilroy-Bold", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #828282;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}
.skills__item {
  display: flex;
  padding-top: 40px;
}
.skills_item {
  padding-top: 56px;
}
.skills__icon {
  text-decoration: none;
  color: inherit;
}
.skills__icon:hover {
  color: gold;
}

.portfolio {
  padding: 112px 0 99px;
  background: #F6F6F6;
}
.portfolio__title {
  font-family: "Gilroy-Bold", sans-serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: #070707;
  margin-bottom: 47px;
}
.portfolio__subtitle {
  font-family: "Gilroy-Medium", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-decoration-line: underline;
  color: #070707;
  margin-top: 45px;
}
.portfolio__img {
  margin-top: 100px;
}

.contacts {
  padding: 115px 0 124px;
}
.contacts__title {
  font-family: "Gilroy-Bold", sans-serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: #070707;
}
.contacts__subtitle {
  font-family: "Gilroy-Medium", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #070707;
  margin-top: 20px;
}
.contacts__btn {
  display: flex;
  margin: 0 auto;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  font-family: "Gilroy-Bold", sans-serif;
  font-weight: 400;
  line-height: 22px;
  color: #FFFFFF;
  background: #070707;
  padding: 12px 30px 6px;
  border-radius: 30px;
  transition: 1s;
}
.contacts__btn:hover {
  transition: 1s;
  opacity: 0.5;
  transform: scale(1.2);
}
.contacts__footer_icon {
  text-align: center;
  padding: 80px;
}
.contacts__icon {
  margin-right: 62px;
  text-align: center;
}
.contacts__footer_subtitle {
  padding-top: 45px;
  font-family: "Gilroy-Medium", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #828282;
}

@media (max-width: 992px) {
  .home__img1 {
    width: 100%;
  }

  .about {
    padding: 70px 0 80px;
  }
  .about_subtitle {
    margin: 40px 0;
  }

  .portfolio {
    padding: 80px 0 85px;
  }
  .portfolio__img {
    width: 100%;
    margin-top: 50px;
  }

  .contacts {
    padding: 70px 0 70px;
  }
}
@media (max-width: 768px) {
  .home__img {
    width: 100%;
  }

  .home__subtitle {
    font-size: 15px;
    line-height: 18px;
    padding-top: 60px;
  }

  .about {
    padding: 60px 0 60px;
  }
  .about__title {
    line-height: 30px;
  }
  .about__subtitle {
    font-size: 15px;
    line-height: 15px;
  }
  .about_subtitle {
    margin: 40px 0;
  }

  .portfolio {
    padding: 60px 0 70px;
  }
  .portfolio__subtitle {
    font-size: 15px;
    line-height: 18px;
  }
  .portfolio__img {
    width: 100%;
    margin-top: 40px;
  }

  .contacts {
    padding: 50px 0 60px;
  }
  .contacts__subtitle {
    font-size: 16px;
    line-height: 18px;
  }

  .about_subtitle {
    margin: 40px 0;
  }

  .skills {
    padding: 60px 0 70px;
  }
}
@media (max-width: 650px) {
  .portfolio__title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  .portfolio__img {
    width: 100%;
  }
  .portfolio__title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  .skills__title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  .skills__subtitle {
    font-size: 15px;
    line-height: 19px;
  }
  .skills__row {
    column-gap: 20px;
    margin: 0 auto;
    text-align: center;
  }
  .skills__row-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(50% - 15px);
  }
  .skills__item {
    padding: 30px 0;
  }

  .about__title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .about__subtitle {
    font-size: 15px;
    line-height: 19px;
  }
  .about_subtitle {
    margin: 30px 0;
  }

  .contacts__title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  .contacts__subtitle {
    font-size: 15px;
    line-height: 19px;
  }
  .contacts__icon {
    margin-right: 30px;
  }
}
@media (max-width: 576px) {
  .header .burger {
    z-index: 101;
    display: flex;
  }
  .header .burger_active .burger__line {
    opacity: 0;
  }
  .header .burger_active::before {
    top: 0;
    transform: rotate(45deg);
  }
  .header .burger_active::after {
    top: 0;
    transform: rotate(-45deg);
  }
  .header__list {
    display: none;
    z-index: 100;
  }
  .header__list_active {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 37px 30px 57px;
    top: 0;
    right: 0;
    width: 250px;
    height: 500px;
    background: #F6F6F6;
  }
  .header__list_active::before {
    position: absolute;
    flex-direction: column-reverse;
    content: url("../imagjes/ru-end.png");
    bottom: 50px;
    right: 20px;
  }
  .header__link {
    margin-bottom: 45px;
  }

  .skills {
    padding: 60px 0 60px;
  }
  .skills__row {
    padding-top: 50px;
  }
  .skills__subtitle {
    margin-top: 50px;
  }

  .portfolio {
    padding: 60px 0 60px;
  }
  .portfolio__subtitle {
    margin-top: 30px;
  }
  .portfolio__img {
    margin-top: 20px;
  }

  .contacts {
    padding: 50px 50px;
  }
  .contacts__footer_icon {
    text-align: center;
    padding: 60px 0 20px;
  }
  .contacts__icon {
    margin-right: 15px;
  }
}
.home__img {
  display: none;
}

.home__img1 {
  display: flex;
}

@media (max-width: 500px) {
  .contacts__footer_icon {
    text-align: center;
    padding: 60px 0 20px;
  }
}
@media (max-width: 375px) {
  .home__title {
    position: relative;
    font-size: 40px;
    line-height: 50px;
  }
  .home__subtitle {
    position: absolute;
    top: 170px;
    font-size: 18px;
    line-height: 22px;
    margin-top: 20px;
  }
  .home__img {
    display: flex;
    margin-top: 40px;
  }
  .home__img1 {
    display: none;
  }

  .skills__row {
    display: block;
    align-items: center;
    justify-content: center;
  }
  .skills__row-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .contacts__footer_icon {
    text-align: center;
    padding: 60px 0 20px;
  }
  .contacts__icon {
    margin: 0 auto;
  }
}